---
import PageLayout from "@/layouts/Base.astro";
import { Image } from "astro:assets";

import img1 from "../img/original_191f41dc204dcc8572593dcc2aa8a0e1.png";
import img2 from "../img/original_244b7c4cc873b0380ee4df5c465c166f.png";
import img3 from "../img/original_60ff770d50bb8ccc4e4cf1c2eb788e39.png";
import img4 from "../img/original_9a2104e83952d83f04f4eae9008f9818.png";
import img5 from "../img/017da51652f88a18f3092647573c573c.jpg";
import img6 from "../img/91893c571cad83a4875818cdc832eea3.jpg";
import img7 from "../img/9190d8bd39aecc3e4487e0547f38aedb.jpg";
import img8 from "../img/bd6e1064a583c83394ae76981fd037ec.jpg";
import img9 from "../img/ca53327d95fe54821904c037fd5a161a.jpg";
import img10 from "../img/e816e16db0e5a6370a6d6ffe40c23ab0.jpg";
import img11 from "../img/WhatsApp_Image_2026-04-19.jpeg";
import img12 from "../img/IMG_1356.jpg";

const images = [img12, img11, img10, img9, img8, img7, img6, img5, img4, img3, img2, img1];

const meta = {
	description: "A collection of cool pictures I've found.",
	title: "/grabs",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">/grabs</h1>
	<p class="mb-8">cool pictures</p>

	<div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-2">
		{
			images.map((img, index) => (
				<div class="overflow-hidden rounded-lg">
					<Image
						src={img}
						alt={`Grab ${index + 1}`}
						class="h-full w-full object-cover transition-transform duration-500 hover:scale-105"
					/>
				</div>
			))
		}
	</div>
</PageLayout>
